/* font section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;   
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    row-gap: 100px;

}

h1{
    font-size: 70px;
    line-height: 80px;
    color:#FFFFFF;
}
p{
    height: 78px;
    width: 506px;
 
    color:#FFFFFF ;  
}
.title{
    padding-left: 39px;
    margin-bottom: 40px;
   
}
.watch{
    text-decoration: none;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    background-color:lime;
}
.top-banner{
    background-color:#161616;
    display: flex;
    align-items: center;
    height: 646px;
    width: 1321px;
    border-radius: 30px;

}
.banner img{
    width: 660px;
    height: 660px;
   
}
.football{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:15px ;
    padding-left: 20px;
}
.boxes{
    height: 312px;
    width: 305px;
    background-color:#161616 ;  
    border-radius: 10px;
    padding-right: 30px;
}
.size{
    display: grid;
    grid-template-rows: repeat(1 , 1fr);
    grid-row-gap:30px ;
    padding-left: 32px;
    padding-top: 30px;

}

.group{
    text-decoration: none;
    font-size: 20px;
    width: 252px;
    height: 65px;
    border-radius: 5px;
    background-color: chartreuse;
}
.blog{
    text-decoration: none;
    font-size: 20px;
    width: 252px;
    height: 65px;
    border-radius: 5px;
    background-color: red;
}
.leva img{
    height: 175px;
    width: 310px;
    border-radius: 10px;
}
.transfer{
    background-color: #f4eaea;
    border: 1px solid white ;
    border-radius: 5px
}
.transfers{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap:14px ;
    grid-row-gap:20px;
}

.next{
    height: 32px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
}
h2{
    font-size: 18px;

}
.fa-clock , .fa-comment-dots{
    width: 24px;
    height: 24px;
}
.time{
    display: flex;
    align-items: center;
    gap: 30px;
}
   /* footer */
.inner-footer{
    background-color: #161616;

}

h3{
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 130px;
}
.outer-footer{
    display: flex;   
    align-items: center;
    padding-left: 60px;
    padding-top: 50px;

}
.social-link{
    display: flex;
    justify-content: center;
} 
.social-item a{
    padding: 20px 20px;
    font-size: 70px;
    color: chartreuse;
}
/* media section */
@media screen and ( max-width:688px) {
    .top-place{
        width: 100%;
    }
     .top-banner{
     flex-direction: column;
     height: 472px;
     width: 334px;
     }
     .title{
        height: 178px;
        width: 258px;
     }
     h1{
        font-size: 22px;
        line-height: 30px;
        padding-top:15px ;
     }
     p{
        height: 48px;
        width: 258px;
        font-size: 10px;
     }
     .button{
        height: 20px;
        width: 140px;
        border-radius: 5px;
        padding-bottom: 20px;
     }
     .banner img{
        height: 245px;
        width: 233px;
     }
     .top-banner,.boxes,.transfers{
        grid-template-columns: repeat(1, 1fr);
     }
    .football{
        flex-direction: column;
    }
    
}

